[submodule "lib/requestcore"]
    path = lib/requestcore
    url = git://github.com/popthestack/requestcore.git
[submodule "lib/cachecore"]
    path = lib/cachecore
    url = git://github.com/popthestack/cachecore.git
